.MovieList {
  margin: 0 auto;
  padding: 10px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30;
  margin-top: 1%;
}

.MovieList p {
  width: 80%;
  justify-self: center;
  height: 20px;
  padding-bottom: 10px;
}

.innerList {
  margin: 20px;
  box-shadow: 3px 4px 10px 6px #ccc;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.MovieList div,
a {
  font-size: 20px;
  font-weight: bold;
  color: black;
  gap: 20;
  /* border: 1px solid black; */
  justify-items: center;
}

.MovieList img {
  margin: 0 auto;
  padding: 10px;
}

a {
  text-decoration: none;
}

.searchBar {
  justify-self: center;
  width: 10%;
}

.searchBar input {
  padding: 15px;
  position: fixed;
  top: 5;
  border-radius: 10px;
  /* box-shadow: 3px 4px 10px 6px #ccc; */
  border: 2px solid #b3b3b3;
}
